$baseFontFamily: 'Noto Serif', serif;
$headingsFontFamily: Open Sans, Arial, sans-serif;
$baseFontSize: 18px;
$baseFontColor: #333;
$headingsFontColor: #333;
$linkColor: #00A2FF;

$primary-color: #039be5;

@import 'normalize.scss';

/*body {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}*/

html {
    font-size: 20px;
    min-width: 320px;

    min-height: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: $baseFontFamily;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-family: $headingsFontFamily;
}

a {
    color: $primary-color;
    text-decoration: none;
    border-bottom: 1px solid $primary-color;
    &:hover {
        border-bottom-color: transparent;
    }
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;

    @media only screen and (min-width: 700px) {
        padding: 0;
        max-width: 700px;
        margin: 0 auto;
    }
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: $primary-color;
    color: lighten($primary-color, 30%);
    font-family: $headingsFontFamily;

    a {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }

    p {
        color: #ffffff;
        margin-bottom: 0;
    }
}

.hero--small {
    min-height: 30vh;
    height: auto;
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.hero__title {
    color: #ffffff;
}

.hero__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
}

.hero__content {
    transform: translate(-50%, -50%);
}

.highlight {
  margin: 2em 0;
  font-size: .8rem;

  table, tbody {
    display: block;
    width: 100%
  }

  td {
    border: 1px solid #dee;
  }

  tr {
    display: flex;
    width: 100%;
  }

  .code {
    flex: 1 0 0px;
    margin-left: -1px;

    // firefox again
    display: block;
    max-width: calc(100% - 2em);
  }
}

pre {
  padding: 10px;
  margin: 0;
  line-height: 23px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight .gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: none;
  user-select: none;
  overflow: hidden;
}

p code, li code, td code {
  color: #000000;
  background: #fafafa;
  padding: 3px 6px;
  border-radius: 8px;
  border: 1px dotted #333;
  margin: 0 4px;
  font-size: 90%;
  word-wrap: break-word;
}

a code {
  color: inherit;
  text-decoration: underline;
  margin: 0 -1px;
  padding: 3px 10px;
}

@import 'highlight';
