$baseFontFamily: 'Arial';
$headingsFontFamily: Open Sans, Arial, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #444;
$headingsFontColor: #333;
$linkColor: #00A2FF;

$primary-color: #039be5;

@import 'normalize.scss';

/*body {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}*/

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    position: relative;
    background: $primary-color;
    color: lighten($primary-color, 30%);
    font-family: $headingsFontFamily;

    a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }
}

.hero__title {
    color: #ffffff;
}

.hero__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
}

.hero__content {
    transform: translate(-50%, -50%);
}
